body {
  background-image: url(https://www.izotope.com/content/dam/izotope/blog/music-production/2018/the-5-most-important-developments-in-hip-hop-production/The%205%20Most%20Important%20Developments%20in%20Hip-Hop%20Production.jpg);
  box-sizing: border-box;
}

#the-song {
  opacity: 0;
  font-size: 160%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
  font-color: white;
  
}

#song-text {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: aliceblue;
  background-color: navy;
  border-radius: 40px;
  width: 450px;
  margin: 0 auto;
  padding: 12px;
}

.header {
  text-align: center;
  font-size: 33px;
  color: whitesmoke;
  font-weight: thick;
 
}

#inputs {
  display: block; 
  text-align: centers;
  border-style: outset;
  padding: 12px;
  width: 120px;
  background: whitesmoke;
  border-radius: 15px;
  color: rgb(109, 104, 104);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 540px;
  padding-top: 0px;
}

#button {
  text-align: left;
  margin-right: 100px;
  height: 40px;
  border-radius: 12px;
  text-transform: uppercase;
  text-emphasis: weight; heavy
  border-style: outset;
}

#title {
  font-size: 83px;
  color: white;
  font-weight: thick;
  margin-bottom: 0px;
}

#footer-func {
  float: right;
}

#footer {
  opacity: 0;
}